body,
.cards,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  flex-direction: column;
}

body .cards {
  flex-wrap: wrap;
}

body .cards .card {
  padding: 10px;
  flex-direction: column;
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
}

